h1 {
  text-align: center;
  color: red;
  margin-bottom: 30px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#bu {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  color: blue;
}

/* #uneaten-burgers {
  float: left;
}
*/

#devoured-burgers {
  margin-bottom: 40px;
}
